
  <!-- <ng-template appPlaceholder></ng-template> -->
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf='error'>
            <p>{{error}}</p>
        </div>

        <!-- <app-alert [message]='error' *ngIf='error'></app-alert> -->
        <div  *ngIf='isLoading' style="text-align: center;">
            <loading-spinner></loading-spinner>
        </div>
        <form #authform='ngForm' (ngSubmit)='onSubmit(authform)' *ngIf='!isLoading' ngNativeValidate>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id='email' name='email' class="form-control" required email ngModel #email=ngModel>
            
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id='password' name='password' class="form-control" minlength='6' required ngModel #p=ngModel>
              
            </div>
            <button class="btn btn-primary" type="submit">
                {{ isSigninMode ?  'Sign In' : 'Sign Up'}} 
            </button> |
            <button class="btn btn-primary" type="button" (click)='onSwitch()'>
                Switch to {{ isSigninMode ? 'Sign Up' : 'Sign In'}}
            </button>
     
        </form>
    </div>
</div>