

<div class="container">
<app-header></app-header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
             <router-outlet></router-outlet>
			</div>
	</div>
</div>
</div> 

<!-- <button  (click)='change()'>Animate</button>
<button (click)='Change()'>Shrunk</button>
<div style="width: 100px; height: 100px;" [@divState]='state'></div>
<br>
<div style="width: 100px; height: 100px;" [@State]='State' ></div>
<button (click)='add()'>Add</button>
<div  class="list-group container">
	<li class="list-group-item"  *ngFor='let x of in'  [@list1] (@list1.start)='show($event)' (click)='delete(x)'>{{x}}</li></div>
	 -->